 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block origin_head %}
    <link rel="stylesheet" href="http://yituijian.com/static/job/css/weui.min.css" />
    <link rel="stylesheet" href="http://yituijian.com/static/job/css/style.css"/>
{% endblock %}

{% block content %}
 <div class="bd">
        <div class="m-hd_bg">
            
        </div>
        <div class="u-info">
            <div>
                 <img class="weui_uploader_file u-headimg" src={{avatar}} >
            </div>
             <div class="u-name">{{name}}</div>
             <div class="u-area">{{province}}&nbsp;&nbsp;{{city}}</div>
        </div>
        <div class="u-listbox">
            <a href="http://yituijian.com/recruit/">
                <div class="u-list">
                    <p class="u-list-2">招聘信息</p>
                </div>
            </a>
            <a href="http://yituijian.com/resume/nav/">
                <div class="u-list">
                    <p class="u-list-1">我的简历</p>
                </div>
            </a>
            <a href="http://yituijian.com/recruit/myshow/2">
                <div class="u-list">
                    <p class="u-list-3">我的投递</p>
                </div>
            </a>
        </div>
        <div class="m-ft_bg">
            
        </div>

    </div>
{% endblock %}
