 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block content %}
    <div class="m-hd">
        我的投递
    </div>

    <div class="bd">
     {% for key, value in myshow_info.items %}
        <div class="u-mybox J_box_{{value.id}}">
            <div class="position">{{value.position}}</div>
            <div class="company">{{value.company}}</div>
            <div class="detail">
                 <img src="/static/job/images/workicon_1.png" alt="" class="icon">
                 <div class="ct">{{value.degree}}</div>
                 <img src="/static/job/images/workicon_2.png" alt="" class="icon">
                 <div class="ct-2">{{value.years}}年</div>
                 <img src="/static/job/images/workicon_3.png" alt="" class="icon">
                 <div class="ct-3">{{value.sex}}</div>
            </div>  
            <div class="money">{{value.salary}}</div>
            <div class="time">{{value.timeGo}}前</div>  
            {% ifequal value.state 0 %}
            <div class="status">【 已投递 】</div>     
            {% endifequal %} 
            {% ifequal value.state 1 %}
            <div class="status status2">【 投递成功 】</div>     
            {% endifequal %} 
             <img src="/static/job/images/delete.png" alt="" class="delete J_delete" data-recruit={{value.id}} data-resume={{value.resume_id}}>
     </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <!--<script src="../js/router.min.js"></script>
    <script src="../js/example.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_delete').click(function(){
                var con=confirm("确认删除");
                if(con){
                    var resume_id=$(this).attr('data-resume');
                    var recruit_id=$(this).attr('data-recruit');
                    if(resume_id==''||recruit_id==''){
                        alert('系统出错');
                    }else{
                        $.ajax({
                              type : "POST",
                              url : "/recruit/delete_connect/",
                              data:{'resume_id':resume_id,'recruit_id':recruit_id},
                              dataType : "json",
                              success : function(data){  
                                    if(data.code==200){
                                        alert('删除成功');
                                        $('.J_box_'+recruit_id).remove();
                                    }else{
                                        alert(data.message);
                                    }
                              }
                        })   
                    }
                }
            })
        })
    </script>
{% endblock %}

</body>
</html>
