 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block content %}
    <div class="m-hd">
        我的简历
    </div>
    <div class="bd">
        <div class="u-subtt">
            <img src="/static/job/images/navicon_2.png" alt="" class="icon">
            <span class="tt">教育背景</span>
            <div class="desc">必填</div>
            <a href="/resume/fill#edu=1">
                <span class="edit">新增</span>
                <img src="/static/job/images/add.png" alt="" class="editicon">            
            </a>
        </div>
        {% for key, value in info.items %}
        <div class="m-edubox J_edubox_{{value.id}}">
            <div class="u-line">
                <div class="ctk">学校名称</div>
                <div class="ctv">{{value.university}}</div>
            </div>
            <div class="u-line">
                <div class="ctk">专业名称</div>
                <div class="ctv">{{value.major}}</div>
            </div>
            <div class="u-line">
                <div class="ctk">学历/学位</div>
                <div class="ctv">{{value.degree}}</div>
            </div>
            <div class="u-line">
                <div class="ctk">入学时间</div>
                <div class="ctv">{{value.intended_time}}</div>
            </div>
            <div class="u-line">
                <div class="ctk">毕业时间</div>
                <div class="ctv">{{value.graduation_time}}</div>
            </div>
            <a href="/resume/modify/2/{{value.id}}" class="btn">
                <img src="/static/job/images/edit.png" alt="" class="edit">             
            </a>
                <img src="/static/job/images/delete.png" alt="" class="delete J_delete" data-id={{value.id}}>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_delete').click(function(){
                var con=confirm("确认删除");
                if(con){
                    var edu_id=$(this).attr('data-id');
                    if(edu_id==''){
                        alert("系统错误");
                    }else{
                        $.ajax({
                              type : "POST",
                              url : "/resume/delete_edu/",
                              data:{'edu_id':edu_id},
                              dataType : "json",
                              success : function(data){  
                                    if(data.code==200){
                                        alert("删除成功");
                                        $('.J_edubox_'+edu_id).remove();
                                    }else{
                                        alert(data.message);
                                    }
                              }
                        })            
                    }
                }
            })
        })
    </script>
{% endblock %}
</body>
</html>
