{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "job/css/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/style.css" %}"/>
    <style>
        h2{text-align: center;float: left;width:100%;}
    </style>
</head>
<body ontouchstart style="background:#e5b316">
    <div class="container" id="container">
    <div class="bd m-bd-blank">
        <div class="ct">
            雯姐发现还未填写任何简历，这样是不能升职加薪走上人生巅峰的哦，所以快来填写吧~
        </div>
        <a href="/index/resume/fill/">
            <div class="btn">创建简历</div>           
        </a>
    </div>
    </div>

    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <!--<script src="../js/router.min.js"></script>
    <script src="../js/example.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_edu,.J_work').click(function(){
                alert("请先填写基本信息");
            })
        })
    </script>
</body>
</html>
