 {% extends "base_erp.html" %}
 {% load i18n admin_static %}

{% block head %}
    <style>
        h2{text-align: center;float: left;width:100%;}
    </style>
{% endblock %}


{% block content %}
    <div class="m-hd">
        我的简历
    </div>
    <div class="bd">
        <div class="u-navbox">
             <div class="tt">我的简历</div>
             <div class="status">状态：
                {% ifequal state 0 %}
                    <span>快去填写简历吧</span>
                {% endifequal %}
                {% ifequal state 1 %}
                    <span>审核中</span>
                {% endifequal %}
                {% ifequal state 2 %}
                    <span style="color:#f3677c">简历不完善</span>
                {% endifequal %}
                {% ifequal state 3 %}
                    <span style="color:#55ba47">可投递</span>
                {% endifequal %}
             </div>
             <div class="update">更新: {{update_time}}</div>
            {% ifequal state 1 %}
                 <img class="status-logo" src="/static/job/images/status_2.png">
            {% endifequal %}
            {% ifequal state 2 %}
                 <img class="status-logo" src="/static/job/images/status_1.png">
            {% endifequal %}
            {% ifequal state 3 %}
                 <img class="status-logo" src="/static/job/images/status_3.png">
            {% endifequal %}
        </div>
        <div class="u-hr"></div>
        <div class="u-navlistbox">
            <!--基本信息-->
            {% ifequal state 0 %}
            <a class="" href="/resume/fill/">
            {% endifequal %}
            {% ifnotequal state 0 %}
            <a class="" href="/resume/info_list">
            {% endifnotequal %}         
                <div class="u-list">
                    <p class="u-list-1">个人信息</p>
                </div>
            </a>
           <!--教育信息-->
            {% ifequal state 0 %}
            <a class="J_edu" href="javascript:;">
            {% endifequal %}
            {% ifnotequal state 0 %}
                {% ifequal edus_blank 1 %}
                <a class="" href="/resume/fill/#edu=1&sec=edu">
                {% endifequal %}
                {% ifnotequal edus_blank 1 %}
                <a class="" href="/resume/edu_list">
                {% endifnotequal %}
            {% endifnotequal %}         
                <div class="u-list">
                    <p class="u-list-2">教育信息</p>
                </div>
            </a>
           <!--工作信息-->
            {% ifequal state 0 %}
             <a class="J_work" href="javascript:;">
            {% endifequal %}
            {% ifnotequal state 0 %}
                {% ifequal coms_blank 1 %}
                <a class="" href="/resume/fill/#com=1&sec=com">
                {% endifequal %}
                {% ifnotequal coms_blank 1 %}
                 <a class="" href="/resume/com_list">
                {% endifnotequal %}
            {% endifnotequal %}         
                <div class="u-list">
                    <p class="u-list-3">工作经历</p>
                </div>
            </a>
        </div>
        <a href="/resume/preview">
            <div class="u-btn">
                预览简历
            </div>
        </a>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_edu,.J_work').click(function(){
                alert("请先填写基本信息");
            })
        })
    </script>
{% endblock %}
</body>
</html>
