{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "job/css/weui.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/style.css" %}"/>
    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <script src="{% static "job/js/diqu.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_back').click(function(){
                window.history.go(-1);
            })
        })
    </script>
</head>
<body ontouchstart>
    <div class="container" id="container">
{% ifequal section 1 %}
    <article id="sec_info"> 
        <div class="m-hd">
            我的简历
        </div>
        <div class="bd">
            <div class="u-subtt">
                <img src="/static/job/images/navicon_1.png" alt="" class="icon">
                <span class="tt">个人信息</span>
                <div class="desc">必填</div>
            </div>
            <div class="weui_cells weui_cells_form m-info-form">
                <!--头像-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">头像</label></div>
                    <div class="weui_cell_bd weui_cell_primary u-img">
                        <img src="{{info.avatar}}" class="headimg" alt="">
                    </div>
                </div>
                <!--姓名-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input u-ipt J_name" type="text"  value={{info.name}}>
                    </div>
                </div>
                <!--性别-->
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">性别</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select u-sel sex J_sex" name="sex">
                            <option value="0" selected>保密</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                </div>
                <!--出生年月-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">出生年月</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input u-ipt J_birth" type="date" value={{info.birth}}>
                    </div>
                </div>
                <!--参加工作时间-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label for="" class="weui_label">参加工作时间</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input u-ipt J_startwork" type="date" value={{info.startwork}}>
                    </div>
                </div>
                <!--居住城市-->
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">省份</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select u-sel area J_province" name="province">     
                        </select>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">城市</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select u-sel area J_city" name="city">     
                        </select>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after" style="display:none">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">地区</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="area">     
                        </select>
                    </div>
                </div>
                 <!--手机号码-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input u-ipt J_phone" type="number" pattern="[0-9]*" value={{info.phone}>
                    </div>
                </div>
                  <!--手机号码-->
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">邮箱地址</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input u-ipt J_email" type="text" value={{info.email}}>
                    </div>
                </div>              
                <!--性格描述-->
                <div class="weui_cells_title">性格描述</div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <textarea class="weui_textarea J_character" rows="3">{{info.character}}</textarea>
                    </div>
                </div>
                <div style="height:20px"></div>   
        </div>
        <div class="u-btn-mini J_back">返回</div>
        <div class="u-btn-mini J_modify" data-id={{info.id}}>修改</div>
        <div style="height:40px"></div>
    </div>        
    </article>
    <script type="text/javascript">
    $(document).ready(function(){
        new PCAS("province","city","area");
        var province='{{info.province|safe}}';
        $(".J_province>option").each(function(a,b){
                if($(b).val()==province){
                    $(b).attr("selected",true);
                }
        });
        new PCAS("province","city","area");
        var city='{{info.city|safe}}';
        $(".J_city>option").each(function(a,b){
                if($(b).val()==city){
                    $(b).attr("selected",true);
                }
        });          
        var sex='{{info.sex|safe}}';
        $(".J_sex>option").each(function(a,b){
                if($(b).val()==sex){
                    $(b).attr("selected",true);
                }
        });    

        $('.J_modify').click(function(){
            var id=$(this).attr('data-id');
            var name=$('.J_name').val().trim();
            var sex=$('.J_sex').val().trim();
            var birth=$('.J_birth').val().trim();
            var startwork=$('.J_startwork').val().trim();
            var province=$('.J_province').val().trim();
            var city=$('.J_city').val().trim();
            var character=$('.J_character').val().trim();
            var phone=$('.J_phone').val().trim();
            var email=$('.J_email').val().trim();
            $.ajax({
                  type : "POST",
                  url : "/resume/modify_info/",
                  data:{'id':id,'name':name,'sex':sex,'birth':birth,'startwork':startwork,'province':province,'city':city,'character':character,'phone':phone,'email':email},
                  dataType : "json",
                  success : function(data){  
                        if(data.code==200){
                            alert('修改成功');
                            window.location.href='/resume/info_list/';
                        }else{
                            alert(data.message);
                        }
                  }
            })

        })      
   
    })
    </script>
{% endifequal %}

{% ifequal section 2 %}
    <article id="sec_edu" >
    <div class="m-hd">
        我的简历
    </div>
    <div class="bd">
        <div class="u-subtt">
            <img src="/static/job/images/navicon_2.png" alt="" class="icon">
            <span class="tt">教育背景</span>
            <div class="desc">必填</div>
            <a href="/resume/fill#edu=1">
                <span class="edit">新增</span>
                <img src="/static/job/images/add.png" alt="" class="editicon">            
            </a>
        </div>
        <div class="weui_cells weui_cells_form m-info-form">
            <!--学校-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">学校名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_university" type="text" value={{info.university}}>
                </div>
            </div>   
            <!--专业名称-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">专业名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_major" type="text" value={{info.major}}>
                </div>
            </div>  
             <!--学位-->
            <div class="weui_cell weui_cell_select weui_select_after">
                <div class="weui_cell_hd">
                    <label for="" class="weui_label">学位</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <select class="weui_select u-sel degree J_degree" name="degree">
                        <option value="学士">学士</option>
                        <option value="硕士">硕士</option>
                        <option value="博士">博士</option>
                        <option value="博士后">博士后</option>
                    </select>
                </div>
            </div>
            <!--入学时间-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">入学时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_intended_time" type="date" value={{info.intended_time}}>
                </div>
            </div>
            <!--毕业时间-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">毕业时间</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_graduation_time" type="date" value={{info.graduation_time}}>
                </div>
            </div>

            <!--专业名称-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">专业名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input J_major" type="text" value=>
                </div>
            </div>
            <div style="height:20px"></div>  
        </div>
       <div class="u-btn-mini J_back">返回</div>
        <div class="u-btn-mini J_modify">修改</div>
        <div style="height:40px"></div>
    </div>        
    </article>
    <script type="text/javascript">
        $(document).ready(function(){
        var degree='{{info.degree|safe}}';
            $(".J_degree>option").each(function(a,b){
                    if($(b).val()==degree){
                        $(b).attr("selected",true);
                    }
            }); 

            $('.J_modify').click(function(){
                var edu_id=window.location.href.split('/')[6];
                var university=$('.J_university').val().trim();
                var intended_time=$('.J_intended_time').val().trim();
                var graduation_time=$('.J_graduation_time').val().trim();
                var major=$('.J_major').val().trim();
                var degree=$('.J_degree').val().trim();    
                $.ajax({
                      type : "POST",
                      url : "/resume/modify_edu/",
                      data:{'edu_id':edu_id,'university':university,'intended_time':intended_time,'graduation_time':graduation_time,'major':major,'degree':degree},
                      dataType : "json",
                      success : function(data){  
                            if(data.code==200){
                                alert("修改成功");
                            }else{
                                alert(data.message);
                            }
                      }
                })                       
            })   

        })
    </script>
{% endifequal %}

{% ifequal section 3 %}
   <article id="sec_com">
    <div class="m-hd">
        我的简历
    </div>
    <div class="bd">
        <div class="u-subtt">
            <img src="/static/job/images/navicon_2.png" alt="" class="icon">
            <span class="tt">工作经历</span>
            <div class="desc">必填</div>
            <a href="/resume/fill#com=1">
                <span class="edit">新增</span>
                <img src="/static/job/images/add.png" alt="" class="editicon">            
            </a>
        </div>
        <div class="weui_cells weui_cells_form m-info-form">
            <!--公司-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">公司名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_company" type="text" value={{info.company}}>
                </div>
            </div>
            <!--专业名称-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">岗位名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_position" type="text" value={{info.position}}>
                </div>
            </div>  
            <!--起始任职-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">起始任职</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_entry_time" type="date" value={{info.entry_time}}>
                </div>
            </div>
            <!--结束任职-->
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">结束任职</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input u-ipt J_resign_time" type="date" value={{info.resign_time}}>
                </div>
            </div>
           <!--工作描述-->
            <div class="weui_cells_title">工作描述</div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea J_description" rows="3">{{info.description}}</textarea>
                    <div class="weui_textarea_counter"><span>0</span>/200</div>
                </div>
            </div>
            <div style="height:20px"></div>  
        </div>
        <div class="u-btn-mini J_back">返回</div>
        <div class="u-btn-mini J_modify">修改</div>
        <div style="height:40px"></div>
    </div>        
    </article>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_modify').click(function(){
                var com_id=window.location.href.split('/')[6];
                var company=$('.J_company').val().trim();
                var entry_time=$('.J_entry_time').val().trim();
                var resign_time=$('.J_resign_time').val().trim();
                var position=$('.J_position').val().trim();
                var description=$('.J_description').val().trim();
                $.ajax({
                      type : "POST",
                      url : "/resume/modify_comp/",
                      data:{'com_id':com_id,'company':company,'entry_time':entry_time,'resign_time':resign_time,'position':position,'description':description},
                      dataType : "json",
                      success : function(data){  
                            if(data.code==200){
                               alert('修改成功');
                            }else{
                                alert(data.message);
                            }
                      }
                })    
            })
        })
    </script>
{% endifequal %}
    </div>
</body>
</html>
