.u_info{width:290px;height:200px;margin:0 auto;}
.u_info .u_headimg{float:left;margin-top: 30px;margin-left: 30px;}
.u_info .u_name{float:left;margin-top: 30px;margin-left: 30px;font-size: 18px;font-weight:bolder;width:130px;}
.u_info .u_area{float:left;margin-top: 10px;margin-left: 30px;width:130px;}

.button_sp_area{width: 60%;margin:0 auto;padding: 0 10px}