body{background: #f4f3ef}

.u-box{width: 100%;min-height:100px;padding: 5px 20px;font-size: 12px}
.u-box .u-line{width: 100%;min-height: 30px;line-height: 30px;}
.u-box .u-tt{width: 25%;display: inline-block;}
.u-box .u-ct{width: 60%;display: inline-block;}

.m-hd_bg{width:100%;height: 140px;background: url('../images/hd_bg.png');background-size: 100% 140px;}
.m-ft_bg{position:fixed;bottom:0;width:100%;height: 48px;background: url('../images/ft_bg.png');background-size: 100% 48px;}

.u-info{width:100%;height:125px;margin:0 auto;}
.u-info>div{height: 40px;width:100%;text-align: center;line-height: 40px;}
.u-info .u-headimg{position:relative;width:72px;height:72px;border: 3px solid #fff;border-radius: 36px;left:50%;margin-left: -36px;margin-top: -36px;}
.u-info .u-name{font-size: 16px;color:#443506;clear:both;}
.u-info .u-area{font-size: 12px;color:#9a9485;}

.u-listbox{width: 100%;height:200px;margin: 30px auto 0;}
.u-listbox .u-list{position: relative;width: 285px;height: 50px;line-height: 50px;text-align: center;background: #fff;margin-top: 13px;margin-left: auto;margin-right: auto;border-radius: 4px;color:#443506;}
.u-listbox .u-list-1:before{position:absolute;content:'';width: 20px;height: 25px;background: url('../images/icon_1.png');background-size:20px 25px;top:25%;left:26%;}
.u-listbox .u-list-2:before{position:absolute;content:'';width: 21px;height: 20px;background: url('../images/icon_2.png');background-size:21px 20px;top:25%;left:26%;}
.u-listbox .u-list-3:before{position:absolute;content:'';width: 23px;height: 20px;background: url('../images/icon_3.png');background-size:23px 20px;top:25%;left:26%;}

/*nav*/
.m-hd{width: 100%;height: 44px;text-align: center;background: url('../images/hd_bg.png');background-size: 100% auto;color:#735800;line-height: 44px;font-size: 16px;}

.u-navbox{width:90%;height:100px;background: #fff;margin: 14px auto 0;}
.u-navbox .tt{font-size: 16px;line-height: 32px;padding-left: 25px;padding-top: 10px}
.u-navbox .status{font-size: 12px;line-height: 26px;padding-left: 25px;}
.u-navbox .status>span{color:#faab4b;}
.u-navbox .update{font-size: 12px;line-height: 26px;padding-left: 25px;color:#a9a59a;}
.u-navbox .status-logo{float: right;margin-top: -95px;width: 105px;height: 100px;}

.u-hr{width: 90%;height: 15px;background: url('../images/hr.png');background-size:100% 15px;margin: 0 auto;}

.u-navlistbox{position: relative;width:90%;height:167px;background: #fff;margin: 0 auto;border: none;}
.u-navlistbox .u-list{position: relative;width: 90%;height: 55px;line-height: 55px;text-align: left;text-indent:14%;background: #fff;margin: 0 5%;border-bottom: solid 1px #e5e5e5;color:#443506;}
.u-navlistbox .u-list-1:before{position:absolute;content:'';width: 20px;height: 20px;background: url('../images/navicon_1.png');background-size:20px 20px;top:30%;left:5%;}
.u-navlistbox .u-list-2:before{position:absolute;content:'';width: 20px;height: 20px;background: url('../images/navicon_2.png');background-size:20px 20px;top:30%;left:5%;}
.u-navlistbox .u-list-3:before{position:absolute;content:'';width: 20px;height: 20px;background: url('../images/navicon_3.png');background-size:20px 20px;top:30%;left:5%;}

/*btn*/
.u-btn{width: 68%;height:40px;margin: 25px 16% 0;background: #f7dd46;text-align: center;font-size: 15px;line-height: 40px;color:#735800;border-radius: 5px}
.u-btn-mini{width: 30%;height:40px;margin: 25px 9% 0;background: #f7dd46;text-align: center;font-size: 15px;line-height: 40px;color:#735800;border-radius: 5px;display: inline-block;}

.m-bd-blank{width: 100%;height: 600px;background: url('../images/resume_blank.png');background-size: 100% 600px;}
.m-bd-blank .ct{padding:155px 40px 0;text-align: center;height: 45px;}
.m-bd-blank .btn{padding:305px 40px 0;text-align: center;height:45px;line-height: 45px;color:#735800;}

/*简历个人信息show页面*/
.u-subtt{width: 100%;height: 42px;line-height: 42px;background: #fff;border-bottom: solid 1px #e5e5e5;}
.u-subtt .icon{width: 20px;height: 20px;padding-left: 15px;padding-top: 10px;float: left;}
.u-subtt .tt{width: auto;padding-left: 12px;float: left;}
.u-subtt .desc{width: 40px;height: 16px;border-radius: 8px;border: solid #f3677e 1px;font-size: 10px;text-align: center;color:#f3677e;float: left;margin-left: 10px;margin-top: 12px;line-height: 16px; }
.u-subtt .edit{color:#f1bb46;float: right;padding-right: 20px;}
.u-subtt .editicon{width: 16px;height: 16px;float: right;margin-right: 10px;margin-top: 12px;}

.m-infobox{width: 100%;height: 200px;background: #fff};
.m-infobox .u-line{height: 30px;}
.m-infobox .u-line-1{height: 65px;}
.m-infobox .u-line .headimg{height: 45px;width: 45px;float: left;margin-left: 15px;margin-top: 10px;}
.m-infobox .u-line .name{height: 20px;width: 230px;float: left;margin-left: 20px;margin-top: 10px;color: #f1bb46;font-size: 16px;}
.m-infobox .u-line .detail{height: 20px;width: 230px;float: left;margin-left: 20px;margin-top: 10px;}
.m-infobox .u-line .detail .icon{width: 15px;height: 15px;float: left;margin-top:5px; margin-left: 2px;}
.m-infobox .u-line .detail .ct,.ct-2,.ct-3{width: 40px;text-align: center;float: left;}
.m-infobox .u-line .detail .ct-2{width: 75px}
.m-infobox .u-line .detail .ct-3{width: 50px}
.m-infobox .u-line .detail .split{width: 1px;height:16px;float: left;margin-left: 2px;margin-top: 5px;background: #999}
.m-infobox .u-line .ctk{width: 125px;height: 30px;line-height: 30px;text-align: left;text-indent: 15px;color:#bab6ae;float: left;}
.m-infobox .u-line .ctv{width: 190px;height: 30px;line-height: 30px;text-align: left;color: #443506;float: left;}

/*个人信息新建页*/
#sec_info{background: #f8f8f8}
.m-info-form{margin-top: 0;color:#776f5b;font-size: 12px;}
.m-info-form .headimg{width: 30px;height: 30px;float: right;margin-right: 20px;}
.m-info-form .u-img:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}
.m-info-form .u-ipt{text-align: right;}
.m-info-form .u-sel{color:#776f5b;}
.m-info-form .u-sel.sex{padding-left:70%}
.m-info-form .u-sel.area{padding-left:65%;}

/*教育信息显示页*/
.m-edubox{position:relative;width: 100%;height: 155px;background: #fff;border-bottom: dashed #ccc 1px;padding-top: 10px;}
.m-edubox .u-line{height: 30px;}
.m-edubox .u-line .ctk{width: 125px;height: 30px;line-height: 30px;text-align: left;text-indent: 15px;color:#bab6ae;float: left;}
.m-edubox .u-line .ctv{width: 190px;height: 30px;line-height: 30px;text-align: left;color: #443506;float: left;}
.m-edubox .edit{position: absolute;right: 40px;top:0px;width: 16px;height: 16px;padding: 12px 8px;}
.m-edubox .delete{position: absolute;right: 0px;top:0px;width: 16px;height: 16px;padding: 12px 20px 12px 8px;}


