{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "job/css/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/example.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/style.css" %}"/>
</head>
<body ontouchstart>
    <div class="container" id="container">
    <div class="bd">
        <h1 class="page_title">我的招聘</h1>
     {% for key, value in myshow_info.items %}
     <div class="J_box_{{value.id}}">
        <div class="u-box">
            {{value.company}},{{value.description}}
        </div>
        <a class="weui_btn weui_btn_mini weui_btn_primary J_btn" data-recruit={{value.id}} data-resume='2' href="javascript:;">删除</a>
        <hr>         
     </div>
    {% endfor %}
    </div>
    </div>
    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <!--<script src="../js/router.min.js"></script>
    <script src="../js/example.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_btn').click(function(){
                var resume_id=$(this).attr('data-resume');
                var recruit_id=$(this).attr('data-recruit');
                if(resume_id==''||recruit_id==''){
                    alert('系统出错');
                }else{
                    $.ajax({
                          type : "POST",
                          url : "/recruit/delete_connect/",
                          data:{'resume_id':resume_id,'recruit_id':recruit_id},
                          dataType : "json",
                          success : function(data){  
                                if(data.code==200){
                                    alert('删除成功');
                                    $('.J_box_'+recruit_id).remove();
                                }else{
                                    alert(data.message);
                                }
                          }
                    })   
                }
            })
        })
    </script>
</body>
</html>
