{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "job/css/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/style.css" %}"/>
</head>
<body ontouchstart>
    <div class="container" id="container">
    <div class="m-hd">
        招聘信息
    </div>
    <div class="bd">
        {% for key, value in recruit_info.items %}
        <div class="u-workbox">
            <img src="http://wx.qlogo.cn/mmopen/LIND77SSexibODU6MXJnyy4b4mxObW6IfFFgPydwOyYnI8XYiaSA66xXX6Z1a0mxVezV722ibqHONdJHwY7RBeAmw/0" alt="">
            <div class="position">数据库</div>
            <div class="company">{{value.company}}</div>
            <div class="detail">
                 <img src="/static/job/images/workicon_1.png" alt="" class="icon">
                 <div class="ct">本科</div>
                 <img src="/static/job/images/workicon_2.png" alt="" class="icon">
                 <div class="ct-2">3-4年</div>
                 <img src="/static/job/images/workicon_3.png" alt="" class="icon">
                 <div class="ct-3">男</div>
            </div>  
            <div class="money">10-15k</div>
            <div class="time">刚刚</div>    
        </div>
        <div class="u-hr"></div>
        <div class="u-workbox-2">
            <img src="/static/job/images/workicon_4.png" alt="" class="icon">
            <div class="address">jfslkjjsjdkfjsklfjsld</div>
            <div class="label">职位描述：</div>
            <div class="desc">
                {{value.description}}{{value.description}}{{value.description}}{{value.description}}{{value.description}}{{value.description}}{{value.description}}{{value.description}}{{value.description}}
            </div>
            <div class="btn J_btn"  data-recruit={{value.id}} data-resume='2'>投递</div>
            <div style="height:15px"></div>
        </div>
    {% endfor %}
    </div>
    </div>
    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <!--<script src="../js/router.min.js"></script>
    <script src="../js/example.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.J_btn').click(function(){
                var resume_id=$(this).attr('data-resume');
                var recruit_id=$(this).attr('data-recruit');
                if(resume_id==''||recruit_id==''){
                    alert('系统出错');
                }else{
                    $.ajax({
                          type : "POST",
                          url : "/recruit/fill_connect/",
                          data:{'resume_id':resume_id,'recruit_id':recruit_id},
                          dataType : "json",
                          success : function(data){  
                                if(data.code==200){
                                    alert('投递成功');
                                }else if(data.code==201){
                                    alert('请不要重复投递');
                                }else{
                                    alert(data.message);
                                }
                          }
                    })   
                }
            })
        })
    </script>
</body>
</html>
