{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="{% static "job/css/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/example.css" %}"/>
    <link rel="stylesheet" href="{% static "job/css/style.css" %}"/>
</head>
<body ontouchstart>
    <div class="container" id="container">
    <div class="bd">
        <div class="weui_cells weui_cells_access">
        {% for key, value in info.items %}
            <a class="weui_cell" href="/resume/modify/{{value.section}}/{{value.id}}">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>{{value.title}}</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    </div>
    <script src="{% static "job/js/zepto.min.js" %}"></script>
    <!--<script src="../js/router.min.js"></script>
    <script src="../js/example.js"></script>-->
</body>
</html>
